name: Trunk Check

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: trunk-check-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: read-all

jobs:
  trunk_check:
    name: Trunk Check Runner
    runs-on: ubuntu-latest
    permissions:
      checks: write # For trunk to post annotations
      contents: read # For repo checkout

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.10.3
        with:
          egress-policy: audit
      - name: Trunk Check
        uses: trunk-io/trunk-action@v1
